<%- include("header") -%>
<div class="tables">
<div class="jumbotron jumbotron-fluid ">
    <div class="container">
      <h1 class="display-4">Ohh Snap !!</h1>
      <p class="lead">Seems like you messed up in some process !!</p>
      <a class="btn btn-primary btn-lg" href="/transfer" role="button">Try Again</a>
    </div>
</div>
</div>

<%- include("footer") -%>