<%- include("header") -%>
<div class="cont">
    <div class="fpage">
        <div class="button">
            <a href="/ourClients"><h3>Clients</h3></a>
        </div>
        <div class="button">
            <a href="/transfer"><h3>Transfer</h3></a>
        </div>
        <div class="button">
            <a href="/previousTransaction"><h3>Transactions</h3></a>
        </div>
    </div>
</div>
<%- include("footer") -%>

